{% extends "layout.html" %}
{% block content %}
<div class="container" >
<div class="form-group">
  <div class="row">
    <div class="col">
      <h1>
        <img src="{{url_for('static', filename='donky.png')}}" alt="ロゴ" width="50px"/>
        王様の耳はロバの耳 (雑談AI「ろばみみ」実験中)
      </h1>
    </div>
  </div>

  <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      設定
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="row">
        <div class="col-3">
          <label for="select1a">声の種類:</label>
        </div>
        <div class="col">
          <select id="voicetype" class="form-control">
          </select>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <label for="charactername">キャラクターの名前:</label>
        </div>
        <div class="col">
          <input type="text" id="charactername" class="form-control" value="加藤恵">
        </div>
        <div class="col">
          <label for="yourname">あなたの名前:</label>
        </div>
        <div class="col">
          <input type="text" id="yourname" class="form-control" value="あなた">
        </div>
      </div>
    </div>
  </div>

  <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePolicy" aria-expanded="false" aria-controls="collapsePolicy">
      データ保持ポリシー
    </button>
  </p>
  <div class="collapse" id="collapsePolicy">
    <div class="card card-body">
        <div class="col">
          トーク内容を含んだアクセスログは３０日間保持されます
        </div>
    </div>
  </div>

  <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDrive" aria-expanded="false" aria-controls="collapseDrive">
      ドライブモード
    </button>
  </p>
  <div class="collapse" id="collapseDrive">
    <div class="card card-body">
        <div class="col">
          <img src="{{url_for('static', filename='drive.png')}}" alt="タップして会話" onclick="startRecognizeDrive()"/>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="talk" class="rounded"></div>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <input type="text" id="query" class="form-control" autocomplete="off" onkeypress="queryKeyPressed(event.keyCode)"/>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" onclick="submitQuery()"> > </button>
      <button type="button" class="btn btn-secondary" onclick="startRecognize()">
        <img src="{{url_for('static', filename='microphone.png')}}" alt="音声認識" width="20px"/>
      </button>
    </div>
  </div>

</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
  if ('speechSynthesis' in window) {
    //alert("このブラウザは音声合成に対応しています。🎉")
  } else {
    alert("このブラウザは音声合成に対応していません。😭")
  }
</script>

<script>
    const recognition = new webkitSpeechRecognition();
    recognition.lang = "ja-JP";
    recognition.continuous = false;
    recognition.interimResults = true;
    isSpeaking = false;

    $( "#query" ).focus()

    function startRecognize(){
      isSpeaking = true;
      recognition.onresult = function (event) {
        if(isSpeaking){  
          $("#query").val(event.results[0][0].transcript)
        }
      };

      recognition.onspeechend = function (event) {
        isSpeaking = false;  
        submitQuery()
      };

      recognition.start();
    }

    function startRecognizeDrive(){
      $( "#query" ).val('')
      isSpeaking = true;
      recognition.onresult = function (event) {
        if(isSpeaking){  
          $("#query").val(event.results[0][0].transcript)
        }
      };

      recognition.onspeechend = function (event) {
        isSpeaking = false;  
        submitQueryDrive()
      };

      recognition.start();
    }

    function appendVoices() {
      const voices = speechSynthesis.getVoices()
      voices.forEach(voice => { 
        if(!voice.lang.match('ja')) return
          const option = document.createElement('option')
          option.value = voice.name
          option.text  = `${voice.name} (${voice.lang})` 
          option.setAttribute('selected', voice.default)
          voicetype.appendChild(option)
      });
    }

    appendVoices()

    speechSynthesis.onvoiceschanged = e => {
      appendVoices()
    }

    function queryKeyPressed(code){
      if(13 === code){
        submitQuery()
      }
    }

    function submitQueryDrive(){
        query = $( "#query" ).val()
        
        $( "#query" ).val(query + ' ' + $("#charactername").val() + '考え中。。。')

        $.getJSON("/rinna/" + query, function(json){
            $( "#query" ).val($("#charactername").val() + ':' + json.generatedText)
            const uttr = new SpeechSynthesisUtterance(json.generatedText)
            uttr.lang = "ja-JP"
            uttr.voice = speechSynthesis
              .getVoices()
              .filter(voice => voice.name === $("#voicetype").val())[0]

            speechSynthesis.speak(uttr)
            $( "#query" ).focus()
            });
    }

    function submitQuery(){
        query = $( "#query" ).val()
        
        $( "#talk" ).append('<div class="row"><div class="col">&nbsp;</div><div class="col bg-info border rounded"><img src="/static/you.png" width="80px"/>' + $("#yourname").val() + ':<br/>' + query + '</div></div>')
        $( "#query" ).val($("#charactername").val() + '考え中。。。')
        $( "#query" ).focus()
        $( "#query" ).blur()

        $.getJSON("/rinna/" + query, function(json){
            $( "#talk" ).append('<div class="row"><div class="col bg-info border rounded"><img src="/static/character.png" width="80px"/>' + $("#charactername").val() + '(' + json.sentiment +')：<br/>' + json.generatedText + '</div><div class="col">&nbsp;</div></div>')

            const uttr = new SpeechSynthesisUtterance(json.generatedText)
            uttr.lang = "ja-JP"
            uttr.voice = speechSynthesis
              .getVoices()
              .filter(voice => voice.name === $("#voicetype").val())[0]

            speechSynthesis.speak(uttr)
            $( "#query" ).val('')
            $( "#query" ).focus()
            });
    }

</script>
{% endblock %}