{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="form-group">
  <div class="row">
    <div class="col">
      <h1>
      <a href="https://ja.wikipedia.org/wiki/%E3%83%A9%E3%83%90%E3%83%BC%E3%83%80%E3%83%83%E3%82%AF%E3%83%BB%E3%83%87%E3%83%90%E3%83%83%E3%82%B0" target="_blank">AIとラバーダック・デバッグしてみよう</a>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <label for="select1a">声の種類:</label>
    </div>
    <div class="col">
      <select id="voicetype" class="form-control">
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <input type="text" id="query" class="form-control">
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary" onclick="startRecognize()">
        <img src="{{url_for('static', filename='microphone.png')}}" alt="音声認識" width="20px"/>
      </button>
      <button type="button" class="btn btn-primary" onclick="submitQuery()">送信</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="talk"></div>
    </div>
  </div>

</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
  if ('speechSynthesis' in window) {
    //alert("このブラウザは音声合成に対応しています。🎉")
  } else {
    alert("このブラウザは音声合成に対応していません。😭")
  }
</script>

<script>
    const recognition = new webkitSpeechRecognition();
    recognition.lang = "ja-JP";
    recognition.continuous = false;
    recognition.interimResults = true;
    isSpeaking = false;

    function startRecognize(){
      isSpeaking = true;
      recognition.onresult = function (event) {
        if(isSpeaking){  
          $("#query").val(event.results[0][0].transcript)
        }
      };

      recognition.onspeechend = function (event) {
        isSpeaking = false;  
        submitQuery()
      };

      recognition.start();
    }

    function appendVoices() {
      const voices = speechSynthesis.getVoices()
      voices.forEach(voice => { 
        if(!voice.lang.match('ja')) return
          const option = document.createElement('option')
          option.value = voice.name
          option.text  = `${voice.name} (${voice.lang})` //　テンプレートリテラル (ES6)
          option.setAttribute('selected', voice.default)
          voicetype.appendChild(option)
      });
    }

    appendVoices()

    speechSynthesis.onvoiceschanged = e => {
      appendVoices()
    }

    function submitQuery(){
        query = $( "#query" ).val()
        $( "#query" ).val('りんな考え中。。。')
        $( "#talk" ).append('<p class="text-right">あなた：' + query + '</p>')
        
        $.getJSON("/rinna/" + query, function(json){
            $( "#talk" ).append('<p class="text-left">りんな (' + json.sentiment +')：' + json.generatedText + '</p>')

            const uttr = new SpeechSynthesisUtterance(json.generatedText)
            uttr.lang = "ja-JP"
            uttr.voice = speechSynthesis
              .getVoices()
              .filter(voice => voice.name === $("#voicetype").val())[0]

            speechSynthesis.speak(uttr)

            $( "#query" ).val('')
            });
    }

</script>
{% endblock %}